*
    margin: 0
    padding: 0
    box-sizing: border-box !important

a 
    text-decoration: none

ul 
    list-style: none

body 
    background: linear-gradient(to right, #509EEB 0%, #D77D98 50%, #D9ACA3 100%)

textarea
    resize: none
    outline: none
    border: none
    background: none  

input 
    outline: none
    border: none
    background: none


button 
    background: none
    outline: none
    border: none


.container 
    @include container()